.Logo{
    padding: 20px;
    width: 300px;
    height: 300px;
}


h1{
    content: normal;
    height: 8px;
    padding: 20px;
}


.Slogan{
      font-style: italic;
    font-family: "Segoe UI", "monospace";
    padding: 5px;
    font-kerning: auto;
}

.Food{
     padding: 20px;
    width: 300px;
    height: 300px;
     object-fit: cover;
    border-radius: 50%;
}

.About{
    padding: 10px;
    font-size: larger;
    font-family: "Segoe UI", "monospace";
    font-weight: bold;
}
.Location{
   float: left;
    position: relative;
    left: 12%;
}

.Social{
    width: 39px;
    height: 39px;
    object-fit: cover;
    position: relative;
    top: 10px;
    right: 10%;
}


.Phone{
    float: right;
    position: relative;
    bottom: 50px;
    right: 16%;
}
